// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.event-buttons {
    text-align: right
}

div.new-event {
    text-align: right
}
p.event-description {
    max-height: 100px;
    display: inline-block;
    overflow: hidden
}

p.age-restricted {
    color: red
}

div.event-detail {
    margin: auto;
}