<div>
  <h3>Dostępne wydarzenia:</h3>
    <ul>
    <% if @events != nil %>
      <% for event in @events %>
      <li><%= event.id %>. <%= event.artist %></li>
      <% end %>
    <% end %>
    </ul>
</div>